@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Colors */

  /* Primary */

  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);

  /* Accent */

  --blue: hsl(248, 32%, 49%);

  /* Neutral */

  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);

  /* Typography */

  --poppins: 'Poppins', sans-serif;
}

body {
  margin: 0;
  color: #fff;
  font-family: var(--poppins);
}

/* Intro section */

.intro {
  background-color: var(--red);
  background-image: url('images/bg-intro-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  padding: 80px 0 40px 0;
}

.container {
  width: 80%;
  max-width: 1170px;
  margin: 0 auto;
}

.intro__left-content {
  text-align: center;
}

.intro__heading {
  font-size: 2rem;
  margin: 1rem 0;
  line-height: 1.15;
  font-weight: 700;
}

.intro__tagline {
  font-size: 1rem;
  line-height: 1.65;
  padding-bottom: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.3px;
}
