@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Colors */

  /* Primary */

  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);

  /* Accent */

  --blue: hsl(248, 32%, 49%);

  /* Neutral */

  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);

  /* Typography */

  --poppins: 'Poppins', sans-serif;
}

body {
  margin: 0;
  color: #fff;
  font-family: var(--poppins);
}

/* Utility */

.hide {
  display: none;
}

/* Intro section */

.intro {
  background-color: var(--red);
  background-image: url('images/bg-intro-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  padding: 80px 0 40px 0;
}

.container {
  width: 80%;
  max-width: 1170px;
  margin: 0 auto;
}

/* Intro left content*/

.intro__left-content {
  text-align: center;
}

.intro__heading {
  font-size: 3rem;
  margin: 1rem 0;
  line-height: 1.15;
  font-weight: 700;
}

.intro__tagline {
  font-size: 1rem;
  line-height: 1.65;
  padding-bottom: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.3px;
}

/* Intro right content*/

.badge {
  background: var(--blue);
  border-radius: 10px;
  padding: 20px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0rem 0.5rem 0px 1px rgb(0 0 0 / 21%);
}

/* Form */

.form {
  background: #fff;
  color: var(--dark-blue);
  box-shadow: 0rem 0.5rem 0px 1px rgb(0 0 0 / 21%);
  margin-top: 20px;
  padding: 15px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form__list {
  list-style: none;
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

/* TODO: finish the styles of the input and the error message */
.form__item {
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}

.form__input {
  display: inline-block;
  width: 100%;
  padding: 15px 0;
}

/* note: Initially the error icon is invisible */
.error-icon {
  position: absolute;
  top: 10px;
  right: 7px;
  display: none;
}

/* note: if the form item has the class error show the icon */
.form__item.error .error-icon {
  display: inline;
}

/* note: if the form item has the class success hide the icon */
.form__item.success .error-icon {
  display: none;
}

/* note: Initially the error message is invisible */
.form__error-message {
  display: none;
}

/* note: if the form item has the class error show the error message */
.form__item.error .form__error-message {
  display: inline-block;
}

.btn {
  background: var(--green);
  border: 1px solid var(--green);
  border-radius: 5px;
  box-shadow: 0 4px rgb(0 128 0 / 59%);
  width: 90%;
  padding: 20px 0 16px 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 550;
  letter-spacing: 1px;
}

.btn:hover,
.btn:focus {
  opacity: 0.75;
}

.form__terms {
  padding: 20px 0;
  width: 75%;
  text-align: center;
  color: var(--grayish-blue);
  font-weight: 500;
  line-height: 1.65;
  font-size: 0.688rem;
}

.form__terms a {
  color: var(--red);
  text-decoration: none;
  font-weight: 500;
}

@media only screen and (min-width: 768px) {
  .d-flex {
    display: flex;
    gap: 50px;
  }

  .intro {
    background-image: url('images/bg-intro-desktop.png');
    height: 100vh;
    /* note: this is to have the content centered vertically */
    display: flex;
    align-items: center;
  }

  .intro__left-content,
  .intro__right-content {
    width: 50%;
  }

  .intro__left-content {
    align-self: center;
    text-align: left;
  }
}

@media only screen and (min-width: 980px) {
  .badge {
    flex-direction: row;
    justify-content: center;
  }
}
